.wrapper {
  width: 100%;
  color: white;
  padding: 20px;
}

.wrapper table {
  width: 100%;
  height: 100%;
  min-width: 1100px;
  max-width: 2500px;
  table-layout: fixed;
  border: none;
  border-collapse: collapse;
}

.wrapper th[data-step] {
  padding: 10px 0;
  font-size: 13px;
  color: #818181;
}

.wrapper td[scope='row'] {
  text-align: right;
  font-size: 12px;
  padding-right: 10px;
  text-transform: uppercase;
  width: min-content;
}

.wrapper td:not([scope='row']) {
  text-align: center;
}

.wrapper td {
  padding: 5px;
}

.wrapper input[type='checkbox'] {
  display: block;
  appearance: none;
  width: 100%;
  height: 0;
  padding-top: 100%;
  margin: 0;
  cursor: pointer;
  background-color: #8e8e8e;
  border-radius: 5px;
  border-style: none;
  transition: background-color 100ms ease-out;
}

.wrapper input[type='checkbox']:hover {
  background-color: #d6d6d6;
  transition-duration: 0s;
}

.wrapper input[type='checkbox']:checked {
  background-color: #e53e3e;
}

.wrapper input[type='checkbox']:checked:hover {
  background-color: #ff2929;
}
