.wrapper {
  display: grid;
  width: 100%;
  height: min-content;
  max-width: 1800px;
  color: white;
  padding: 20px;
  grid-template-columns: min-content repeat(16, 1fr);
  grid-template-rows: min-content 1fr 1fr 1fr;
  gap: 10px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  align-self: center;
  text-align: center;
  position: relative;
}

.instrument {
  text-align: right;
  padding-right: 10px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, .7);
}

.step {
  font-size: 13px;
  color: rgba(255, 255, 255, 0.7);
}

.wrapper input[type='checkbox'] {
  display: block;
  appearance: none;
  width: 100%;
  height: 0;
  padding-top: 100%;
  margin: 0;
  cursor: pointer;
  background-color: rgba(255, 255, 255, .2);
  border-radius: 5px;
  border-style: none;
  transition: background-color 100ms ease-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
}

.wrapper input[type='checkbox']:hover {
  background-color: rgba(255, 255, 255, .5);
  transition-duration: 0s;
}

.wrapper input[type='checkbox']:checked {
  background: radial-gradient(circle, #e6ddff 0%, #bb9fe5 0.5%, #8f559f 80%);
  background-size: 200%;
  background-position: 50% 0;
  transition: background-size 80ms linear;
}

.wrapper input[type='checkbox']:checked:hover,
.activeStep input[type='checkbox']:checked {
  background-size: 20000%;
  transition-duration: 10ms;
}

.activeStep input[type='checkbox'] {
  background-color: rgba(218, 218, 218, 0.6);
}
