.wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  max-width: 2000px;
  color: white;
  padding: 20px;
  grid-template-columns: min-content repeat(16, 1fr);
  grid-template-rows: min-content 1fr 1fr 1fr;
  gap: 10px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.wrapper input[type='checkbox'] {
  display: block;
  appearance: none;
  width: 100%;
  height: 0;
  padding-top: 100%;
  margin: 0;
  cursor: pointer;
  background-color: #8e8e8e;
  border-radius: 5px;
  border-style: none;
  transition: background-color 100ms ease-out;
}

.wrapper input[type='checkbox']:hover {
  background-color: #d6d6d6;
  transition-duration: 0s;
}

.wrapper input[type='checkbox']:checked {
  background-color: #e53e3e;
}

.wrapper input[type='checkbox']:checked:hover {
  background-color: #ff2929;
}
