.instrument {
  display: flex;
  height: 50%;
  position: relative;
  overflow: hidden;
  overflow-x: scroll;

  --sidebar-size: 60px;
}

.drums {
  background: #2b2b2b;
}

.synth {
  background: #202020;
}

.sidebar {
  display: none;
  z-index: 11;
}

.sidebar .settingsToggle {
  opacity: 0.6;
  transition: opacity 200ms ease, transform 250ms cubic-bezier(0.22, 0.73, 0.27, 1);
}

.sidebar .settingsToggle:hover,
.sidebar .settingsToggle.open {
  transition: opacity 50ms ease, transform 250ms cubic-bezier(0.22, 0.73, 0.27, 1);
  opacity: 1;
}

.sidebar .settingsToggle.open {
  transform: rotate(90deg);
}

.sequence {
  display: flex;
  flex-direction: column-reverse;
  gap: 4px;
  border: 1px solid #434343;
  border-radius: 30px;
}

.sequence button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #7c7c7c;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-family: var(--mono-font-family);
  font-weight: 600;
  font-size: 12px;
  transition: color 100ms cubic-bezier(0.22, 0.73, 0.27, 1);
}

.sequence button:hover {
  color: #c2c2c2;
}

.sequence button.active {
  background-color: var(--primary-accent-color);
  color: black;
  border: 3px solid #212121;
}

.settingsPanel {
  position: absolute;
  top: 0;
  left: var(--sidebar-size);
  transform: translateX(-50%);
  width: 210px;
  height: 100%;
  background-color: rgba(28, 28, 28, 0.8);
  color: #ddd;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  transition: opacity 150ms ease, transform 250ms cubic-bezier(0.22, 0.73, 0.27, 1);
  overflow: auto;
}

.settingsPanel.open {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

@media screen and (min-width: 760px) {
  .instrument {
    padding-left: var(--sidebar-size);
  }

  .sidebar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: var(--sidebar-size);
    height: 100%;
    overflow: hidden;
    padding: 20px 0;
  }

  .drums .sidebar {
    background: #222222;
  }

  .synth .sidebar {
    background: #1c1c1c;
  }

  .sidebar .sidebarTitle {
    display: none;
    font-family: var(--mono-font-family);
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: 300;
    transform: rotate(-90deg);
    height: 30px;
    color: #7c7c7c;
    margin-bottom: 40px;
    font-weight: 500;
    padding: 6px 20px;
    border: 1px solid #434343;
    border-radius: 30px;
  }
}

@media screen and (min-height: 760px) {
  .sidebar .sidebarTitle {
    display: block;
  }
}
