.instrument {
  display: flex;
  height: 50%;
  position: relative;
  overflow: hidden;
  overflow-x: scroll;

  --sidebar-size: 60px;
}

.drums {
  background: #2b2b2b;
}

.synth {
  background: #202020;
}

.sidebar {
  display: none;
  z-index: 11;
}

.sidebar button {
  opacity: 0.6;
  transition: opacity 200ms ease, transform 250ms cubic-bezier(0.22, 0.73, 0.27, 1);
}

.sidebar button:hover,
.sidebar button.open {
  transition: opacity 50ms ease, transform 250ms cubic-bezier(0.22, 0.73, 0.27, 1);
  opacity: 1;
}

.sidebar button.open {
  transform: rotate(90deg);
}

.settingsPanel {
  position: absolute;
  top: 0;
  left: var(--sidebar-size);
  transform: translateX(-50%);
  height: 100%;
  background-color: rgba(28, 28, 28, 0.8);
  color: #ddd;
  border-left: 1px solid rgba(255, 255, 255, 0.1);
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  transition: opacity 150ms ease, transform 250ms cubic-bezier(0.22, 0.73, 0.27, 1);
}

.settingsPanel.open {
  opacity: 1;
  pointer-events: all;
  transform: translateX(0);
}

@media screen and (min-width: 760px) {
  .instrument {
    padding-left: var(--sidebar-size);
  }

  .sidebar {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: var(--sidebar-size);
    height: 100%;
    overflow: hidden;
    padding: 20px 0;
  }

  .drums .sidebar {
    background: #222222;
  }

  .synth .sidebar {
    background: #1c1c1c;
  }

  .sidebar span {
    text-transform: uppercase;
    display: block;
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: 300;
    transform: rotate(-90deg);
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 40px;
    font-weight: 500;
  }
}
