.button {
  display: flex;
  gap: 8px;
  align-items: center;
  font-family: var(--mono-font-family);
  font-weight: 600;
  border-radius: 5px;
  border: 2px solid;
  padding: 8px 20px;
  font-size: 15px;
  text-transform: uppercase;
  transition: background-color 150ms ease;

  --primary-color: var(--primary-accent-color);
  --alternate-color: #c5c5c5;
  --red-color: #e73636;
  --green-color: #0da72e;
}

.button:hover {
  transition: background-color 80ms ease;
}

.button:disabled {
  opacity: 0.4;
}

.primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}

.primary:not(:disabled):hover,
.primary:not(:disabled):focus {
  outline: 0;
  color: #ffc423;
  background-color: rgba(222, 170, 0, 0.3);
}

.alternate {
  color: var(--alternate-color);
  border-color: var(--alternate-color);
}

.alternate:not(:disabled):hover,
.alternate:not(:disabled):focus {
  outline: 0;
  color: white;
  background-color: rgba(167, 167, 167, 0.3);
}

.red {
  color: var(--red-color);
  border-color: var(--red-color);
}

.red:not(:disabled):hover,
.red:not(:disabled):focus {
  outline: 0;
  color: #ff1717;
  background-color: rgba(190, 22, 22, 0.3);
}

.green {
  color: var(--green-color);
  border-color: var(--green-color);
}

.button svg {
  fill: currentColor;
}
