body {
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  background-color: rgb(40, 40, 40);
  height: 100vh;
  scrollbar-color: #ffb11f transparent;
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
}

.grotesk {
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
}

.monospace {
  font-family: 'Geist Mono', monospace;
  font-style: normal;
}

.doto {
  font-family: 'Doto', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: 'ROND' 0;
}

.app-wrapper {
  height: 100%;
}
