html,
body {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  background-color: rgb(40, 40, 40);
}

.grotesk {
  font-family: "Space Grotesk", sans-serif;
  font-style: normal;
}

.monospace {
  font-family: "Geist Mono", monospace;
  font-style: normal;
}

.app-wrapper {
  height: 100%;
}
