:root {
  --primary-accent-color: #ffb11f;
  --mono-font-family: 'Geist Mono', monospace;
}

*:focus-visible {
  outline: 1px solid var(--primary-accent-color);
}

*::selection {
  color: black;
  background-color: var(--primary-accent-color);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  background-color: #282828;
  height: 100vh;
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
  scrollbar-color: var(--primary-accent-color) transparent;
}

.grotesk {
  font-family: 'Space Grotesk', sans-serif;
  font-style: normal;
}

.monospace {
  font-family: var(--mono-font-family);
  font-style: normal;
}

.doto {
  font-family: 'Doto', sans-serif;
  font-weight: 800;
  font-style: normal;
  font-variation-settings: 'ROND' 0;
}

.app-wrapper {
  height: 100%;
}
