.wrapper {

}

.footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 20px;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgb(51, 51, 51);
  color: white;
}
