.wrapper {
  padding: 40px;
}

.emptyState {
  text-align: center;
  padding: 60px 0 40px 0;
  color: #9f9f9f;
}

.tabsWrapper {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  overflow: hidden;
}

.tabs {
  display: flex;
  justify-content: space-between;
}

.tab {
  text-align: center;
  width: 50%;
  background-color: #2b2b2b;
  padding: 10px;
  padding-bottom: 8px;
  border-bottom: 3px solid transparent;
  transition: all 150ms ease;
}

.tab:hover {
  background-color: #252525;
}

.tab.active {
  background-color: #1d1d1d;
  border-bottom: 3px solid var(--primary-accent-color);
}

.songList {
  width: 100%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}

.songList span {
  color: #686868;
  letter-spacing: -1px;
}

.song {
  display: block;
  width: 100%;
  font-family: var(--mono-font-family);
  transition: background-color 100ms ease;
  position: relative;
}

.delete {
  display: none;
  opacity: 0.5;
}

.song button:not(.delete) {
  padding: 10px 15px;
  padding-right: 40px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song:hover .delete {
  display: block;
  position: absolute;
  top: 10px;
  right: 10px;
}

.song:hover .delete svg {
  fill: #e11010;
}

.delete:hover {
  opacity: 1;
}

.song + .song {
  border-top: 1px solid #434343;
}

.song:hover,
.song:nth-child(2n + 1):hover {
  background-color: #434343;
  transition: background-color 50ms ease;
}

.song:nth-child(2n + 1) {
  background-color: #353535;
}

.song.selected {
  color: var(--primary-accent-color);
  background-color: #252525;
}

.song.selected:hover {
  background-color: #232323;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.pagination button {
  background-color: #232323;
  padding: 10px 15px;
  border-radius: 5px;
  font-family: var(--mono-font-family);
  font-size: 12px;
  text-transform: uppercase;
}

.pagination button:hover {
  background-color: #1e1e1e;
}

.pagination button:disabled {
  opacity: 0.2;
}

.importCaption {
  padding: 20px 0 20px 0;
  color: #9f9f9f;
}

.textArea {
  width: 100%;
  resize: none;
  appearance: none;
  background: #202020;
  border: 1px solid #3e3e3e;
  color: #cacaca;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: border 100ms ease;
  font-family: var(--mono-font-family);
}

.textArea:focus {
  transition: 60ms ease;
  outline: none;
  border: 1px solid var(--primary-accent-color);
}

.actions {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #3e3e3e;
}

.error {
  margin-top: 20px;
  color: #dd2525;
}
