.wrapper {
  padding: 40px;
}

.emptyState {
  text-align: center;
  padding: 60px 0 20px 0;
  color: #9f9f9f;
}

.songList {
  width: 100%;
  margin-top: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.song {
  padding: 10px 15px;
  display: block;
  width: 100%;
  font-family: var(--mono-font-family);
  transition: background-color 100ms ease;
  overflow: hidden;
  text-overflow: ellipsis;
}

.song + .song {
  border-top: 1px solid #434343;
}

.song:hover,
.song:nth-child(2n + 1):hover {
  background-color: #434343;
  transition: background-color 50ms ease;
}

.song:nth-child(2n + 1) {
  background-color: #353535;
}

.song.selected {
  color: var(--primary-accent-color);
  background-color: #252525;
}

.song.selected:hover {
  background-color: #232323;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.pagination button {
  background-color: #232323;
  padding: 10px 15px;
  border-radius: 5px;
  font-family: var(--mono-font-family);
  font-size: 12px;
  text-transform: uppercase;
}

.pagination button:hover {
  background-color: #1e1e1e;
}

.pagination button:disabled {
  opacity: 0.2;
}

.actions {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding-top: 40px;
}

.error {
  margin-top: 20px;
  color: #dd2525;
}
