.wrapper {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.noteTable {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  min-width: 1800px;
  border-collapse: collapse;
}

.noteTable .noteName {
  position: sticky;
  left: 0;
  font-family: "Geist Mono", monospace;
  font-size: 12px;
  color: rgb(255, 158, 32);
  text-align: left;
  padding: 2px 5px;
  background-color: rgb(29, 29, 29);
  z-index: 1;
}

.noteTable tr:nth-child(2n + 1) {
  background-color: rgb(53, 53, 53);
}

.noteTable td:not(.noteName) {
  border: none;
  padding: 0;
  box-shadow: 1px 0 1px rgb(26, 26, 26);
  cursor: pointer;
}

.noteTable span {
  display: flex;
  align-items: center;
  padding: 1px 5px;
  font-family: "Geist Mono", monospace;
  color: rgb(0, 0, 0);
  font-size: 10px;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 204, 0);
  border-radius: 3px;
}
