.wrapper {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.noteTable {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  min-width: 1800px;
  border-collapse: collapse;
}

.noteTable .noteName {
  position: sticky;
  left: 0;
  font-family: "Geist Mono", monospace;
  text-align: right;
  font-size: 12px;
  padding: 2px 10px;
  background-color: #1d1d1d;
  z-index: 1;
}

.noteName span {
  opacity: 0.3;
  color: white;
  transition: opacity 80ms ease-out;
}

.noteTable tr:hover .noteName span {
  opacity: 1;
}

.noteTable tr:nth-child(2n + 1) {
  background-color: #353535;
}

.noteTable td:not(.noteName) {
  border: none;
  padding: 0;
  box-shadow: 1px 0 1px #1d1d1d;
  cursor: pointer;
}

.noteTable div {
  display: flex;
  position: relative;
  align-items: center;
  padding: 1px 5px;
  font-family: "Geist Mono", monospace;
  color: white;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
  font-size: 11px;
  width: 100%;
  height: 100%;
  background: #833AB4;
  background: linear-gradient(90deg, #7a1dfd 0%, #b07bff 50%, #ecdfff 100%);
  background-size: 200% 100%;
  background-position: 0 0;
  border-radius: 4px;
  pointer-events: none;
  transition: width 100ms ease-out, background-position 150ms ease-out;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .2), 0 2px 4px rgba(0, 0, 0, .2);
}

.noteTable .noteHandle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  z-index: 1;
  cursor: ew-resize;
  pointer-events: all;
  opacity: 0;
}

.noteTable div.highlight {
  background-position: 100% 0;
  background-position: linear-gradient(90deg, #d2b3ff 0%, #e7d6ff 80%);
}
