.wrapper {
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.noteTable {
  table-layout: fixed;
  width: 100%;
  height: 100%;
  min-width: 1800px;
  border-collapse: collapse;
}

.noteTable .noteName {
  position: sticky;
  left: 0;
  font-family: var(--mono-font-family);
  text-align: right;
  font-size: 12px;
  padding: 2px 10px;
  background-color: #1d1d1d;
  z-index: 1;
}

.noteName span {
  opacity: 0.3;
  color: white;
  transition: opacity 80ms ease-out;
}

.noteTable tr:hover .noteName span {
  opacity: 1;
}

.noteTable tr:nth-child(2n + 1) {
  background-color: #353535;
}

.noteTable td:not(.noteName) {
  border: none;
  padding: 0;
  box-shadow: 1px 0 0 #202020;
  cursor: pointer;
}

.noteTable td:not(.noteName):nth-of-type(4n + 1) {
  box-shadow: 1px 0 0 #505050;
}

.noteTable div {
  display: flex;
  position: relative;
  align-items: center;
  padding: 1px 5px;
  font-family: var(--mono-font-family);
  color: #000000;
  font-size: 11px;
  width: 100%;
  height: 100%;
  background: var(--primary-accent-color);
  border-radius: 4px;
  pointer-events: none;
  transition: width 100ms ease-out, background 100ms ease;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2), 0 2px 4px rgba(0, 0, 0, 0.2);
}

.noteTable .noteHandle {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  z-index: 1;
  cursor: ew-resize;
  pointer-events: all;
  opacity: 0;
}

.noteTable td:hover div,
.noteTable div.highlight {
  background: #fdcc83;
}
