.wrapper {
  padding: 40px;
}

.caption {
  padding: 20px 0 20px 0;
  color: #9f9f9f;
}

.textArea {
  width: 100%;
  resize: none;
  appearance: none;
  background: #202020;
  border: 1px solid #3e3e3e;
  color: #cacaca;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: border 100ms ease;
  font-family: var(--mono-font-family);
}

.textArea:focus {
  transition: 60ms ease;
  outline: none;
  border: 1px solid var(--primary-accent-color);
}

.actions {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding-top: 20px;
  margin-top: 20px;
  border-top: 1px solid #3e3e3e;
}
