.wrapper {
  padding: 20px;
  min-width: 200px;
}

.wrapper > div + div {
  margin-top: 25px;
}

.wrapper fieldset {
  display: flex;
  flex-direction: column;
  appearance: none;
  border: 0;
  padding: 0;
}

.wrapper .optionTitle {
  font-family: var(--mono-font-family);
  text-transform: uppercase;
  font-size: 11px;
  margin-bottom: 10px;
  font-weight: normal;
}

.waves {
  padding: 3px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.waves:has(:focus-visible) {
  outline: 1px solid var(--primary-accent-color);
}

.radioContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  font-family: var(--mono-font-family);
  text-transform: uppercase;
  position: relative;
  font-size: 13px;
  padding: 8px 15px;
  border-radius: 4px;
  color: #797979;
  transition: all 100ms cubic-bezier(0.22, 0.73, 0.27, 1);
}

.radioContainer:hover {
  color: white;
}

.radioContainer.isSelected {
  color: var(--primary-accent-color);
  background-color: #303030;
}

.radioContainer svg {
  width: 15px;
}

.radio {
  position: absolute;
  top: 0;
  left: 0;
  appearance: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.slider {
  background: transparent;
}

.slider::-webkit-slider-thumb {
  appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: var(--primary-accent-color);
  cursor: pointer;
  border: 2px solid #121212;
}

.slider::-webkit-slider-runnable-track {
  height: 14px;
  background: #121212;
  cursor: pointer;
  border-radius: 8px;
}

.slider::-moz-range-thumb {
  appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: var(--primary-accent-color);
  cursor: pointer;
  border: 2px solid #121212;
}

.slider::-moz-range-track {
  height: 14px;
  background: #121212;
  cursor: pointer;
  border-radius: 8px;
}
