.wrapper {
  padding: 40px;
}

.wrapper form {
  margin-top: 20px;
}

.actions {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding-top: 40px;
}

.error {
  margin-top: 10px;
  color: #dd2525;
}
