.wrapper {
  display: flex;
  flex-direction: column;
}

.wrapper label {
  font-family: var(--mono-font-family);
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 3px;
  color: #858585;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.input {
  min-width: 270px;
  appearance: none;
  background: #202020;
  border: 1px solid #3e3e3e;
  color: #eee;
  padding: 5px 10px;
  border-radius: 5px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
  outline: 1px solid transparent;
  transition: 150ms ease;
}

.input:focus {
  transition: 60ms ease;
  outline: 1px solid var(--primary-accent-color);
}
