.overlay {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 20;
  overflow-y: auto;
  max-height: 100vh;
}

.modal {
  position: relative;
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: 50%;
  transform: translate3d(-50%, 0, 0);
  width: 100%;
  max-width: 560px;
  background-color: #2e2e2e;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3), 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  overflow: hidden;
  z-index: 21;
}

.modal.large {
  max-width: 700px;
}

.closeButton {
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0.5;
}

.closeButton:hover {
  opacity: 1;
}
