.header {
  display: flex;
  width: 100%;
  height: min-content;
  background-color: rgb(23, 23, 23);
  color: white;
}

.header .logo {
  padding: 10px 20px;
}

.logo h1 {
  font-size: 17px;
  font-weight: 300;
  color: #a7a7a7;
}
