.header {
  display: flex;
  width: 100%;
  height: min-content;
  align-items: center;
  background-color: rgb(23, 23, 23);
  color: #b4b4b4;
}

.logo {
  display: block;
  padding: 5px 15px;
  width: 100px;
}

.button {
  display: flex;
  align-items: center;
  gap: 7px;
  font-family: var(--mono-font-family);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  padding: 10px 20px;
}

.button:hover {
  background: black;
  color: white;
}

.button svg {
  width: 17px;
  height: 17px;
  fill: #b4b4b4;
}

.button:hover svg {
  fill: white;
}
