.header {
  display: flex;
  width: 100%;
  height: min-content;
  background-color: rgb(23, 23, 23);
  color: white;
}

.header .logo {
  font-size: 10px;
  padding: 10px 20px;
  font-weight: 400;
  font-variation-settings: "wght" 300;
  transition: all 0.3s ease;
  cursor: pointer;
}

.header .logo:hover {
  font-variation-settings: "wght" 700;
  letter-spacing: 0.5px;
}
