.header {
  display: flex;
  width: 100%;
  height: min-content;
  align-items: center;
  background-color: rgb(23, 23, 23);
  color: white;
}

.logo {
  display: block;
  padding: 5px 15px;
  width: 100px;
}

.button {
  font-family: var(--mono-font-family);
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  padding: 10px 20px;
}

.button:hover {
  background: black;
  color: var(--primary-accent-color);
}
