.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 100%;
  height: min-content;
  background-color: rgb(51, 51, 51);
  color: white;
  align-self: end;

  --border-radius: 5px;
}

.tempo {
  display: flex;
  align-items: stretch;
  position: relative;
  margin-left: 10px;
}

.tempo label {
  display: none;
  position: absolute;
  top: 14px;
  left: 0px;
  transform: rotate(-90deg);
  align-self: center;
  height: min-content;
  font-size: 11px;
  letter-spacing: 3px;
  opacity: 0.4;
}

.tempo button {
  font-size: 20px;
  padding: 5px 8px;
  background-color: rgb(70, 70, 70);
  color: rgb(152, 152, 152);
  transition: background-color 100ms ease;
}

.tempo button:not([disabled]):hover {
  cursor: pointer;
  background-color: rgb(84, 84, 84);
}

.tempo button[disabled] {
  opacity: 0.2;
}

.minus {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.plus {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.tempo input {
  width: 55px;
  appearance: none;
  padding: 5px 10px;
  background: #202020;
  color: #bcbcbc;
  border: none;
  text-align: center;
}

.synthSwitch {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  height: 45px;
  background-color: rgb(23, 23, 23);
  border-radius: var(--border-radius);
  position: relative;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.8);
}

.synthSwitch div {
  opacity: 0.3;
  transition: opacity 200ms cubic-bezier(0.22, 0.73, 0.27, 1);
}

.synthSwitch:hover div:not(.active) {
  opacity: 0.5;
}

.synthSwitch .active {
  opacity: 1;
}

.synthSwitch input {
  position: absolute;
  top: 0;
  left: 0;
  appearance: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.synthSwitch:has(:focus-visible) {
  outline: 1px solid var(--primary-accent-color);
}

.synthSwitch::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border: 2px solid var(--primary-accent-color);
  border-radius: var(--border-radius);
  transition: all 200ms cubic-bezier(0.22, 0.73, 0.27, 1);
  box-shadow: inset 0 0 5px rgba(209, 178, 0, 0.3);
}

.synthSwitch:has(input:checked)::after {
  display: block;
  content: '';
  position: absolute;
  transform: translateX(100%);
  width: 50%;
  height: 100%;
}

.playToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border-radius: var(--border-radius);
  text-align: center;
  font-size: 16px;
  background: #e9e9e9;
  color: black;
  font-weight: 500;
  text-transform: uppercase;
  transition: 200ms background cubic-bezier(0.22, 0.73, 0.27, 1);
}

.playToggle:hover {
  background: var(--primary-accent-color);
  transition: 80ms background cubic-bezier(0.22, 0.73, 0.27, 1);
}

.playToggle svg {
  margin-right: -10px;
}

.playToggle:focus-visible {
  outline: 2px solid #ffe1a0;
}

@media screen and (min-width: 760px) {
  .footer {
    padding: 20px;
  }
  .tempo {
    padding-left: 30px;
  }
  .tempo button {
    font-size: 18px;
    padding: 5px 10px;
  }
  .tempo label {
    display: block;
  }
  .tempo input {
    width: 70px;
    padding: 10px 15px;
  }
  .playToggle {
    min-width: 160px;
    gap: 10px;
    padding: 15px 20px;
  }
  .playToggle svg {
    width: auto;
  }
}
