.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
  height: min-content;
  background-color: rgb(51, 51, 51);
  color: white;
  align-self: end;

  --border-radius: 5px;
}

.tempo {
  display: flex;
  align-items: stretch;
  position: relative;
  padding-left: 30px;
  margin-left: 10px;
}

.tempo label {
  position: absolute;
  top: 14px;
  left: 0px;
  transform: rotate(-90deg);
  display: block;
  align-self: center;
  height: min-content;
  font-size: 11px;
  letter-spacing: 3px;
  opacity: 0.4;
}

.tempo button {
  font-size: 20px;
  padding: 5px 10px;
  background-color: rgb(70, 70, 70);
  color: rgb(152, 152, 152);
  transition: background-color 100ms ease;
}

.tempo button:not([disabled]):hover {
  cursor: pointer;
  background-color: rgb(84, 84, 84);
}

.tempo button[disabled] {
  opacity: 0.2;
}

.minus {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.plus {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.tempo input {
  width: 80px;
  appearance: none;
  padding: 10px 15px;
  background-color: rgb(35, 35, 35);
  color: white;
  border: none;
  text-align: center;
}

.synthSwitch {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  height: 45px;
  background-color: rgb(23, 23, 23);
  border-radius: var(--border-radius);
  position: relative;
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.8);
}

.synthSwitch div {
  opacity: 0.3;
  transition: opacity 200ms ease;
}

.synthSwitch:hover div:not(.active) {
  opacity: 0.5;
}

.synthSwitch .active {
  opacity: 1;
}

.synthSwitch input {
  position: absolute;
  top: 0;
  left: 0;
  appearance: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.synthSwitch::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border: 2px solid #b07bff;
  border-radius: var(--border-radius);
  transition: all 200ms ease-in-out;
  box-shadow: inset 0 0 5px rgba(255, 88, 230, 0.3);
}

.synthSwitch:has(input:checked)::after {
  display: block;
  content: '';
  position: absolute;
  transform: translateX(100%);
  width: 50%;
  height: 100%;
}

.playToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 15px 20px;
  text-transform: uppercase;
  background: #5b00ef;
  background: linear-gradient(0deg, #7a1dfd 0%, #b07bff 100%);
  background-size: 100% 160%;
  background-position: 0 100%;
  border-radius: var(--border-radius);
  min-width: 160px;
  text-align: center;
  cursor: pointer;
  letter-spacing: 2px;
  font-size: 14px;
  transition: all 300ms ease-in-out;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.1),
    0 4px 10px rgba(0, 0, 0, 0.2);
}

.playToggle svg {
  filter: drop-shadow(0 1px 0px rgba(0, 0, 0, 0.8));
}

.playToggle:hover {
  background-position: 0 0;
  transition: all 100ms ease-in-out;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2), 0 2px 6px rgba(0, 0, 0, 0.1),
    0 4px 10px rgba(0, 0, 0, 0.2), 0 4px 12px rgba(0, 0, 0, 0.1);
}
