.footer {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
  width: 100%;
  height: min-content;
  background-color: rgb(51, 51, 51);
  color: white;
  align-self: end;
  border-top: 1px solid #444444;

  --border-radius: 45px;
}

.tempo {
  display: flex;
  align-items: stretch;
  position: relative;
}

.tempo button {
  font-size: 20px;
  padding: 5px 8px;
  background-color: #464646;
  color: #989898;
  transition: background-color 100ms ease;
}

.tempo button:not([disabled]):hover {
  cursor: pointer;
  background-color: rgb(84, 84, 84);
}

.tempo button[disabled] {
  opacity: 0.2;
}

.minus {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.plus {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.tempo input {
  width: 55px;
  appearance: none;
  padding: 0 10px;
  background: #202020;
  color: #bcbcbc;
  border: none;
  text-align: center;
}

.synthSwitch {
  display: none;
  align-items: center;
  justify-content: space-around;
  width: 100px;
  border: 1px solid #434343;
  border-radius: var(--border-radius);
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}

.synthSwitch div {
  opacity: 0.3;
  transition: opacity 200ms cubic-bezier(0.22, 0.73, 0.27, 1);
}

.synthSwitch:hover div:not(.isActive) {
  opacity: 0.5;
}

.synthSwitch .isActive {
  opacity: 1;
  color: white;
}

.synthSwitch svg {
  width: 20px;
  fill: currentColor;
}

.synthSwitch input {
  position: absolute;
  top: 0;
  left: 0;
  appearance: none;
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 1;
}

.synthSwitch:has(:focus-visible) {
  outline: 1px solid var(--primary-accent-color);
}

.synthSwitch::after {
  display: block;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border: 2px solid var(--primary-accent-color);
  border-radius: var(--border-radius);
  transition: all 200ms cubic-bezier(0.22, 0.73, 0.27, 1);
}

.synthSwitch:has(input:checked)::after {
  display: block;
  content: '';
  position: absolute;
  transform: translateX(0%);
  width: 50%;
  height: 100%;
}

.synthSwitch:has(input:not(:checked))::after {
  transform: translateX(100%);
}

.playToggle {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  min-width: 120px;
  border-radius: var(--border-radius);
  text-align: center;
  font-size: 16px;
  background: #171717;
  color: var(--primary-accent-color);
  font-weight: 500;
  text-transform: uppercase;
  transition: 200ms background cubic-bezier(0.22, 0.73, 0.27, 1);
}

.playToggle.isPlaying {
  background: #4f4f4f;
  color: #b9b9b9;
}

.playToggle:hover {
  background: var(--primary-accent-color);
  color: #000;
  transition: 80ms background cubic-bezier(0.22, 0.73, 0.27, 1);
}

.playToggle svg {
  fill: currentColor;
  margin-right: -10px;
}

.playToggle:focus-visible {
  outline: 2px solid #ffe1a0;
}

@media screen and (min-width: 760px) {
  .footer {
    padding: 10px 15px;
  }
  .tempo button {
    font-size: 18px;
    padding: 5px 10px;
  }
  .tempo input {
    width: 60px;
  }
  .playToggle {
    min-width: 160px;
    gap: 10px;
    padding: 5px 15px;
  }
  .playToggle svg {
    width: auto;
  }
}

@media screen and (min-width: 900px) {
  .synthSwitch {
    display: flex;
  }
}
