.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  --keys-width: 50px;
  --keys-height: 150px;
}

.ctrls {
  padding: 20px;
  padding-bottom: 150px;
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(156, 0, 0);
  width: calc(var(--keys-width) * 15);
  height: 260px;
  flex-shrink: 0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, .2),
    0 4px 8px rgba(0, 0, 0, .2),
    0 6px 16px rgba(0, 0, 0, .5),
    0 8px 24px rgba(0, 0, 0, .2);
}

.ctrls div {
  display: flex;
  flex-direction: column;
}

.ctrls span {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(250, 218, 218);
  font-size: 11px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .4);
  margin-bottom: 10px;
  padding-bottom: 4px;
  border-bottom: 1px solid rgb(142, 3, 3);
}

.ctrls datalist {
  display: flex;
  justify-content: space-between;
  font-size: 8px;
  padding-top: 2px;
  color: rgba(255, 255, 255, .7);
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 0 1px 0px rgba(0, 0, 0, .4);
}

.ctrls input[type="range"] {
  appearance: none;
  background: transparent;
}

.ctrls input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #ca4106;
  background: linear-gradient(90deg, rgb(145, 145, 145) 0%, rgb(195, 195, 195) 100%);
  margin-top: -5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1), 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.ctrls input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  background: #bc3232;
  border-radius: 2px;
  cursor: pointer;
}

.ctrls input[type="range"]::-moz-range-thumb {
  appearance: none;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  background: #ca4106;
  background: linear-gradient(90deg, rgb(145, 145, 145) 0%, rgb(195, 195, 195) 100%);
  margin-top: -5px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.ctrls input[type="range"]::-moz-range-track {
  height: 5px;
  background: #bc3232;
  border-radius: 2px;
  cursor: pointer;
}

.keys {
  position: relative;
  top: -150px;
  display: flex;
  justify-content: center;
  gap: 2px;
  background-color: rgba(0, 0, 0, .6);
}

.key {
  appearance: none;
  background-color: white;
  border: none;
  width: var(--keys-width);
  height: var(--keys-height);
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
}

.black {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: black;
  color: white;
  width: 36px;
  height: 90px;
  z-index: 1;
  margin: 0 -19px 0;
}

.highlighted {
  opacity: 0.6;
}
