.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  --keys-width: 50px;
  --keys-height: 150px;
}

.keys {
  position: relative;
  display: flex;
  justify-content: center;
  gap: 2px;
}

.key {
  appearance: none;
  background-color: white;
  border: none;
  width: var(--keys-width);
  height: var(--keys-height);
  border-radius: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
}

.black {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background-color: black;
  color: white;
  width: 36px;
  height: 90px;
  z-index: 1;
  margin: 0 -19px 0;
}

.highlighted {
  opacity: 0.6;
}
